<h2>Add Task</h2>

<form method="POST">

<input type="text"
name="title"
placeholder="Task Title"
required>

<select name="priority">
<option value="High">High</option>
<option value="Medium">Medium</option>
<option value="Low">Low</option>
</select>

<input type="date"
name="due_date"
required>

<button type="submit">
Add Task
</button>

</form>

<hr>

<h2>My Tasks</h2>

<table border="1">

<tr>
<th>Title</th>
<th>Priority</th>
<th>Due Date</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for task in tasks %}

<tr>

<td>{{ task.title }}</td>
<td>{{ task.priority }}</td>
<td>{{ task.due_date }}</td>
<td>{{ task.status }}</td>

<td>

<a href="/edit/{{ task.id }}">
Edit
</a>

|

<a href="/delete/{{ task.id }}">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/profile">
Profile
</a>

<br><br>

<a href="/admin">
Admin Dashboard
</a>

<br><br>

<a href="/export">
Export CSV
</a>

<br><br>

<a href="/logout">
Logout
</a>